<launch>

  <arg name="map" default="SVEv1.yaml" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find scr_proto)/maps/$(arg map)">
    <!-- <param name="frame_id" value="/map" /> -->
  </node>

  <include file="$(find scr_proto)/launch/static_transforms.launch" >
  </include>
</launch>
