<!-- Namespaced -->
<launch>

  <arg name="robot" default="robot1" />
  <arg name="tf_prefix" default="$(arg robot)_tf" />
  <arg name="p3_port" default="/dev/ttyUSB0" />

  <group ns="$(arg robot)">
    <!-- <arg name="tf_prefix" value="robot2_tf" /> -->
    <param name="tf_prefix" value="$(arg robot)_tf" /> <!-- For odom broadcaster node tf stuff -->
    <!-- Launches Kinect Driver with Everything Started -->
    <include file="$(find freenect_launch)/launch/freenect.launch">
      <arg name="tf_prefix" value="$(arg tf_prefix)" />
    </include>

    <!-- Node takes sonar data and formats it as laserscan data -->
    <!-- TODO HARDCODED NAMES INSIDE -->
    <node name="sonar_to_laserscan" pkg="sonar_to_laserscan" type="sonar_to_laserscan_node"></node>

    <!-- Takes Depthcloud data and formats as a laserscan -->
    <node name="kinect_laser" type="depthimage_to_laserscan" pkg="depthimage_to_laserscan" args="image:=camera/depth/image_raw">
      <remap from="scan" to="kinectscan"/>
      <param name="output_frame_id" value="$(arg tf_prefix)/camera_depth_frame" />
      <!-- TODO: MERGE SONAR WITH KINECT -->
    </node>

    <!-- Launches the p3bot OS (ROSARIA) -->
    <node name="p3_node" pkg="rosaria" type="RosAria">
      <param name="_port" value="$(arg p3_port)"/>
      <remap from="p3_node/cmd_vel" to="cmd_vel"/>
    </node>

    <!-- Adjust the location of the kinect relative to the baselink here -->
    <!-- TODO: FIND KINECT POS ON P3DX -->
    <node pkg="tf" type="static_transform_publisher" name="p3_camera_link_publisher" args="0.11 0 0.08 0 0 0 $(arg tf_prefix)/base_link $(arg tf_prefix)/camera_link 1000" />

  </group>

</launch>
