<launch>
  <!-- local machine already has a definition by default.
       This tag overrides the default definition with
       specific ROS_ROOT and ROS_PACKAGE_PATH values -->
  <machine name="local_alt" address="localhost" default="true"/>

  <!-- Node Processes April Tags seen and localizes robot -->
  <!-- <node name="april_tags_processor" pkg="scr_proto" type="april_tags_processor"></node> -->

  <!-- Node takes sonar data and formats it as laserscan data -->
  <node name="sonar_to_laserscan" pkg="sonar_to_laserscan" type="sonar_to_laserscan_node"></node>

  <!-- Launches Kinect Driver with Everything Started -->
  <include file="$(find freenect_launch)/launch/freenect.launch" />

  <!-- Takes Depthcloud data and formats as a laserscan -->
  <node name="kinect_laser" type="depthimage_to_laserscan" pkg="depthimage_to_laserscan" args="image:=/camera/depth/image_raw">
    <remap from="scan" to="kinectscan"/>
  </node>

  <!-- Handles the static transforms for scr_proto -->
  <include file="$(find scr_proto)/launch/static_transforms.launch" />

  <!-- Launches the Amigobot OS (ROSARIA) -->
  <node name="amigobot_node" pkg="rosaria" type="RosAria">
    <param name="_port" value="/dev/ttyUSB0"/>
    <remap from="amigobot_node/cmd_vel" to="cmd_vel"/>
  </node>

  <!-- Global Planner for Demo on 12/4 -->
  <!-- <node name="scr_global_planner" pkg="scr_proto" type="global_planner"></node> -->

  <!-- Rviz for Viewing -->
  <node name="Rviz" pkg="rviz" type="rviz"></node>

</launch>
