<launch>
  <!-- local machine already has a definition by default.
       This tag overrides the default definition with
       specific ROS_ROOT and ROS_PACKAGE_PATH values -->
  <machine name="local_alt" address="localhost" default="true"/>

  <node name="april_tags_processor" pkg="scr_proto" type="april_tags_processor"></node>

  <include file="$(find freenect_launch)/launch/freenect.launch" />

  <include file="$(find scr_proto)/launch/static_transforms.launch" />

  <node name="amigobot_node" pkg="rosaria" type="RosAria">
    <param name="_port" value="/dev/ttyUSB0"/>
    <remap from="amigobot_node/cmd_vel" to="cmd_vel"/>
  </node>

</launch>
