
<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find scr_proto)/navstack_cfg/testmap.yaml"/>

  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_omni.launch" />


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find scr_proto)/navstack_cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find scr_proto)/navstack_cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find scr_proto)/navstack_cfg/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find scr_proto)/navstack_cfg/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find scr_proto)/navstack_cfg/base_local_planner_params.yaml" command="load" />
  </node>

</launch>