<launch>
  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_3" args="0.02 -2.465 0.13 -1.5707963267948966 0 0 map landmark[3] 1000" />
  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_5" args="-3.25 -0.29 0.13 3.141592653589793 0 0 map landmark[5] 1000" />
  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_7" args="2.25 -1.135 0.13 0 0 0 map landmark[7] 1000" />
  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_9" args="0.97 1.215 0.13 0 0 0 map landmark[9] 1000" />
  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_11" args="4.165 0.15 0.13 0 0 0 map landmark[11] 1000" />
  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_13" args=".75 -.99 0.13 -1.5707963267948966 0 0 map landmark[13] 1000" />
  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_15" args="-1.42 0.64 0.13 1.5707963267948966 0 0 map landmark[15] 1000" />
</launch>
